* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.member-container {
  padding: 3em;
  width: 50%;
  align-self: center;
}
.search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-bottom: solid 1.5px rgb(162, 158, 158);
}
.search-bar input {
  border-color: transparent;
  font-size: 0.75em;
  width: 95%;
}
.user-card {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.user-name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  border: 1.5px solid #555;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #ffffff;
  border-color: #4caf50;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "✔";
  position: absolute;
  color: #4caf50;
  font-size: 10px;
  left: 50%;
  top: -50%;
  transform: translate(-55%, 45%);
}
.button {
  display: block;
  width: 8em;
  height: 3em;
  box-shadow: 0 4px 4px rgba(162, 158, 158, 0.65);
  border: 0;
  border-radius: 0.25em;
}
.button-save {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(86, 129, 239, 0.85),
    rgb(77, 74, 233)
  );
}
.button-cancel {
  background-color: white;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0;
  border: 1px solid rgba(162, 158, 158, 0.5);
}
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
@media (max-width: 900px) {
  .member-container {
    width: 100%;
  }
}
.button:hover {
  transform: scale(1.05);
}
